/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
    padding: 0px;
    background-color: #cc66cc;
}

.card {
    background-color: #ffffff;
    border: 1px solid #000000;
    width: 90%;
    margin: 10px auto;
}

.card>h3 {
    border-bottom: 0.5px dashed #000000;
}